﻿@import '_calendar.scss';
@import '_layout.scss';

#calendar {
    max-width: 100%;
    margin: 0 auto;
}

.form-filter .SumoSelect > .CaptionCont > span.placeholder {
    color: inherit;
    font-style: inherit;
}
